@page

@model TodosModel
@using RazorToDo;

@{
    ViewData["Title"] = "Задачи";
    string str = string.Empty;
}
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background:#fcfbfb">
    <div class="text-center table-warning">
        <h1 class="display-4">Список дел</h1>
        <table class="table table-active">
            <tr class="alert-info">
                <th>
                    Номер задачи
                </th>
                <th>
                    Наименование
                </th>
                <th>
                    Дата добавления
                </th>
                <th>
                    Готовность
                </th>
            </tr>
            @{
                foreach (var j in Model.todos)
                {
                    <tr class="list-group-flush">
                        <th>@j.NumberId</th>
                        <th>@j.Name</th>
                        <th>@j.DateTimeTodo</th>
                        <th><input type="checkbox" checked="@j.IsComplited" /></th>
                    </tr>
                }
            }
        </table>
    </div>
</body>
</html>